<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="forward">Forward</div>
    <div id="left">left</div>
    <div id="right">right</div>
    <div id="backward">Backward</div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.0/mousetrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>